.header-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 4px 4px 12px 4px;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}